<h1 style="position: relative;" class="text-center">
    <button mat-button style="position: absolute; left: 0;"
    [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">
            chevron_left
        </mat-icon>
        Back
    </button>
    <mat-icon class="material-symbols-outlined">
        construction
    </mat-icon>
    Manage Equipment
</h1>

<div class="app-info">
    <mat-icon class="material-symbols-outlined">
        info
    </mat-icon>
    <div class="info-content">
        <h3>Equipment Management System</h3>
        <p>Establish and maintain your equipment infrastructure by organizing equipment into logical groups, registering individual assets, and defining their operational locations.</p>
    </div>
</div>

<div class="action-container flex-row">
    @if(form) {
    <form [formGroup]="form" class="flex-item flex-row" style="padding-right: 5px;">
        <mat-form-field class="flex-item">
            <mat-label>Equipment Collection</mat-label>
            <mat-select formControlName="activeCollection">
                @for (item of equipmentCollections; track item) {
                <mat-option [value]="item.id">
                    {{item.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    }

    <button mat-flat-button class="bg-secondary" [routerLink]="['./groups']">
        <mat-icon class="material-symbols-outlined">
            folder_managed
        </mat-icon>
        Manage Equipment Groups
    </button>

    <button mat-flat-button class="bg-secondary" [routerLink]="['./create']">
        <mat-icon class="material-symbols-outlined">
            add
        </mat-icon>
        Create Equipment
    </button>

    <button mat-flat-button class="bg-secondary" (click)="zoomToAll()">
        <mat-icon class="material-symbols-outlined">
            map
        </mat-icon>
        View All Equipment
    </button>
</div>

@if (hasEquipment) {
<div class="flex-item flex-column" style="gap: 7px;">

        <app-equipment-table (viewEquipment)="viewEquipmentHandler($event)">
        </app-equipment-table>

        <app-equipment-map [viewEquipment]="viewEquipment">
        </app-equipment-map>

</div>
}
@else {
    <div class="app-info">
        <mat-icon class="material-symbols-outlined">
            info
        </mat-icon>
        <div class="info-content">
            <h3>No Equipment Found</h3>
            <p>This collection currently contains no equipment assets. To begin managing your equipment inventory, use the Create Equipment button above to register your first asset.</p>
        </div>
    </div>
}
