<!-- <h1 class="text-center">
    Create Equipment
</h1> -->
<h1 style="position: relative;" class="text-center">
    <button mat-button style="position: absolute; left: 0;"
    [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">
            chevron_left
        </mat-icon>
        Back
    </button>
    <mat-icon class="material-symbols-outlined">
        construction
    </mat-icon>
    Create Equipment
</h1>

<h2 class="flex-row flex-center-row-items flex-justify-row-content flex-center-gap">
    @if(hasEquipmentType) {
    <mat-icon class="material-symbols-outlined fg-success">
        check_circle
    </mat-icon>
    }
    @else {
    <mat-icon class="material-symbols-outlined fg-error">
        warning
    </mat-icon>
    }
    Select the Equipment Type
</h2>
@if(form) {
    <form [formGroup]="form">
        <div class="flex-row flex-center-row-items">
            <mat-button-toggle-group formControlName="equipmentType">
                @for(item of equipmentTypeList; track item.id) {
                    <mat-button-toggle [value]="item.id">
                        {{item.name}}
                    </mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
    </form>
}

<h2 class="flex-row flex-center-row-items flex-justify-row-content flex-center-gap">
    @if(hasEquipmentInfo) {
    <mat-icon class="material-symbols-outlined fg-success">
        check_circle
    </mat-icon>
    }
    @else {
    <mat-icon class="material-symbols-outlined fg-error">
        warning
    </mat-icon>
    }
    Provide the Equipment Information
</h2>

@if(formProps) {
<form [formGroup]="formProps" class="flex-row">
    <mat-form-field class="flex-item" subscriptSizing="dynamic">
        <mat-label>Name</mat-label>
        <input matInput
            type="text"
            formControlName="name"
            >
    </mat-form-field>
</form>
}

<h2 class="flex-row flex-center-row-items flex-justify-row-content flex-center-gap">
    @if(hasLocation) {
    <mat-icon class="material-symbols-outlined fg-success">
        check_circle
    </mat-icon>
    }
    @else {
    <mat-icon class="material-symbols-outlined fg-error">
        warning
    </mat-icon>
    }
    Identify the Equipment Location
</h2>

<div>
    <button mat-button (click)="clearLocation()" [disabled]="!hasLocation">
        Clear Map Location
    </button>
</div>
<div class="flex-item flex-column">
    <app-create-equipment-map
    [clear$]="clear$"
    [equipmentType]="equipmentType"
    (equipmentLocation)="equipmentLocationHandler($event)">
    </app-create-equipment-map>
</div>

<div class="flex-row flex-center-row-items">
    <button mat-flat-button [class.bg-secondary]="canSave" [disabled]="!canSave" (click)="save()">
        Save
    </button>
    <button mat-button [routerLink]="['..']">
        Cancel
    </button>
</div>
