
<h1 class="text-center">
    FRONTIER
</h1>


<div class="app-info app-plr-1" style="display: inline-block; margin-left: auto; margin-right: auto;">
    <p>
        A FRamework for Overcoming Natural Threats to Islanded Energy Resilience (FRONTIER)
    </p>

    <p>
    FRONTIER provides island(ed) communities and island(ed) energy system experts with:
    </p>

    <ul>
        <li>An energy resilience investment decision tool specifically designed for island(ed) communities</li>
        <li>Easy-to-use platform to visualize natural threat scenarios</li>
        <li>Benefit-Cost analysis tool complemented with other societal metrics</li>
    </ul>
</div>

<h2 class="text-center">
    What would you like to do?
</h2>

<div class="card-container">
    <div class="card-row">

        <mat-card class="app-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="space-filler"></span>
                    <span class="icon-container">
                        <mat-icon class="material-symbols-outlined">
                            construction
                        </mat-icon>
                    </span>
                    <span>
                        Manage Equipment
                    </span>
                    <div class="space-filler"></div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="new-analysis"></div>
                <div class="text-container">
                    <ul>
                        <li>
                            Define and configure electric grid components and assets
                        </li>
                    </ul>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-flat-button color="accent" [routerLink]="['/equipment']">
                    <mat-icon class="material-symbols-outlined">play_circle</mat-icon>
                    Go
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="app-card">
            <mat-card-header>
                <mat-card-title>
                    <span class="space-filler"></span>
                    <span class="icon-container">
                        <mat-icon class="material-symbols-outlined">insights</mat-icon>
                    </span>
                    <span>
                        Create a New Analysis
                    </span>
                    <div class="space-filler"></div>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="portfolio"></div>
                <div class="text-container">
                    <ul>
                        <li>
                            Map critical energy and community infrastructure
                        </li>
                        <li>
                            View impacts to infrastructure from natural hazards
                        </li>
                        <li>
                            View and edit tables of energy resilience strategy costs and benefits
                        </li>
                    </ul>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-flat-button color="accent" [routerLink]="['/analysis']">
                    <mat-icon class="material-symbols-outlined">play_circle</mat-icon>
                    Go
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>

<mat-divider></mat-divider>
<div class="flex-row flex-center-row-items flex-center-gap">
    <img src="assets/f_logo1.png" height="60" alt="ENERGY TRANSITIONS INITIATIVE Logo"/>
    <img src="assets/f_logo2.png" height="60" alt="BERKELEY LAB Logo"/>
    <img src="assets/f_logo3.png" height="60" alt="ARGONNE NATIONAL LABORATORY Logo"/>
    <img src="assets/f_logo4.jpg" height="60" alt="NORTHERN ARIZONA UNIVERSITY Logo"/>
    <img src="assets/f_logo5.png" height="60" alt="CARNEGIE MELLON UNIVERSITY Logo"/>
</div>
