<h1 style="position: relative;" class="text-center">
    <button mat-button style="position: absolute; left: 0;"
    [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">
            chevron_left
        </mat-icon>
        Back
    </button>
    Analysis
</h1>

<div>
    @if(error) {
        <div style="color: red; margin-top: 10px;">
            {{ error }}
        </div>
    }
    @else if (data) {
        <div style="margin-top: 10px;">
            <h3>Data Retrieved:</h3>
            <pre>{{ data | json }}</pre>
        </div>
    }

</div>

<app-threat-map class="flex-item flex-column"
(threatInfoEvent)="handleThreatInfoEvent($event)">
</app-threat-map>

<app-threat-table class="flex-item flex-column" [threatInfo$]="threatInfo$">
</app-threat-table>

