<h1 style="position: relative;" class="text-center">
    <button mat-button style="position: absolute; left: 0;"
    [routerLink]="['..']">
        <mat-icon class="material-symbols-outlined">
            chevron_left
        </mat-icon>
        Back
    </button>
    Analysis Projects
</h1>

<div class="button-container">
    <button mat-button (click)="createProject()">
        Create Analysis Project
    </button>
</div>

<div class="flex-item flex-column">
    <app-project-list class="flex-item"></app-project-list>
    <app-project-summary-home class="flex-item"></app-project-summary-home>
</div>


<!-- <app-location-finder (locationSelected)="handleLocationSelect($event)"
class="location-finder">
</app-location-finder>

<app-threat-map class="flex-item flex-column"
(threatInfoEvent)="handleThreatInfoEvent($event)"
[viewThreat]="viewThreat$"
[viewLocation]="viewLocation$">
</app-threat-map>

<app-threat-table class="flex-item flex-column"
[threatInfo$]="threatInfo$"
(viewThreatEvent)="handleViewThreatEvent($event)">
</app-threat-table>
 -->
