<h1 style="position: relative;" class="text-center">
    <button mat-button style="position: absolute; left: 0;"
    [routerLink]="['../../..']">
        <mat-icon class="material-symbols-outlined">
            chevron_left
        </mat-icon>
        Back
    </button>

    Select Equipment Affected by {{threatName}}
</h1>

<!-- <div class="app-info" style="max-width: 700px; margin-left: auto; margin-right: auto;">
    <div class="info-content">
        <p>
            Add your equipment and apply resilience strategies for the <strong>{{threatName}}</strong> climate threat
        </p>
    </div>
</div> -->

<div class="app-info">
    <div class="info-content flex-row flex-align-row-items">
        @if (hasSelectedEquipment) {
        <mat-icon class="material-symbols-outlined fg-success">
            check_circle
        </mat-icon>
        <span class="app-mr-1">Select the equipment affected by the threat</span>
        <button mat-flat-button [class.bg-secondary]="hasSelectedEquipment"
        (click)="selectStrategies()" [disabled]="!hasSelectedEquipment">
            Next: Select Resilience Strategies
        </button>
        }
        @else {
        <mat-icon class="material-symbols-outlined fg-error">
            warning
        </mat-icon>
        <span class="app-mr-1">Select the equipment affected by the threat</span>
        <button mat-flat-button [class.bg-secondary]="hasSelectedEquipment"
        (click)="selectStrategies()" [disabled]="!hasSelectedEquipment">
            Next: Select Resilience Strategies
        </button>
        }
    </div>
</div>
<!-- <div>
    <button mat-flat-button [class.bg-secondary]="hasSelectedEquipment"
    (click)="selectStrategies()" [disabled]="!hasSelectedEquipment">
        Select Resilience Strategies
    </button>
</div> -->

<div class="action-container flex-row">
    @if(form) {
    <form [formGroup]="form" class="flex-item flex-row">
        <mat-form-field class="flex-item">
            <mat-label>Equipment Collection</mat-label>
            <mat-select formControlName="activeCollection">
                @for (item of equipmentCollections; track item) {
                <mat-option [value]="item.id">
                    {{item.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    }

    <button mat-flat-button class="bg-secondary" [routerLink]="['./groups']">
        <mat-icon class="material-symbols-outlined">
            folder_managed
        </mat-icon>
        Manage Equipment Groups
    </button>

</div>

@if (hasEquipment) {
<div class="flex-item flex-column" style="gap: 7px;">

        <app-add-equipment-table
        (viewEquipment)="viewEquipmentHandler($event)"
        (equipmentSelected)="equipmentSelected($event)">
        </app-add-equipment-table>

        <app-equipment-map [viewEquipment]="viewEquipment">
        </app-equipment-map>

</div>
}
@else {
    <div class="app-info">
        <mat-icon class="material-symbols-outlined">
            info
        </mat-icon>
        <div class="info-content">
            <h3>No Equipment Found</h3>
            <p>This collection currently contains no equipment assets. To begin managing your equipment inventory, use the Create Equipment button above to register your first asset.</p>
        </div>
    </div>
}
