@if (hasData) {
<div class="table-container">

        <!-- Loading overlay -->
        <!-- <div *ngIf="isLoading" class="loading-overlay">
            <mat-spinner diameter="40"></mat-spinner>
        </div> -->

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let col of columns; let i=index" [matColumnDef]="col.id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{col.name}}
                </th>
                @if (col.id === 'action') {
                    <td mat-cell *matCellDef="let element" class="action-cell">

                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="['.', element.id]">
                                <mat-icon class="material-symbols-outlined fg-secondary-dark">
                                    menu_book
                                </mat-icon>
                                Open the Project
                            </button>
                            <button mat-menu-item (click)="delete(element.id)">
                                <mat-icon class="material-symbols-outlined fg-error">
                                    delete
                                </mat-icon>
                                Delete the project
                            </button>
                        </mat-menu>

                    </td>
                }
                @else {
                    <td mat-cell *matCellDef="let element" [class.select-col]="col.id === 'selection'">
                        @if (col.numberFormat) {
                            {{col.prefix || ''}}{{col.getValue(element) | number:col.numberFormat}}
                        }
                        @else {
                            {{col.prefix || ''}}{{col.getValue(element)}}
                        }
                    </td>
                }
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>

            <!-- No data row -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data available
                </td>
            </tr>
        </table>


    <!-- <mat-paginator
        [pageSizeOptions]="pageSizes"
        [pageSize]="pageSize"
        [length]="totalItems"
        showFirstLastButtons>
    </mat-paginator> -->
</div>
}
@else {
    <div class="app-info app-mlr-1">
        <mat-icon class="material-symbols-outlined">info</mat-icon>
        <div class="info-content">
            <h3>No Analysis Projects Yet</h3>
            <p>Create your first analysis project to get started with climate resilience evaluation. You'll be able to add climate threats, equipment, and resilience strategies to perform cost-benefit analysis.</p>
        </div>
    </div>
}
